html,body {
  height: 100%;
  margin: 0 0 1px 0;
  padding: 0 0 1px 0;
}

body {
  background:#e2e2e2;
  padding:0;
  margin:0;
  font: normal 12px verdana,sans-serif;
  color:#444;
}

div, h1, h2, h3, h4, p, form, label, input, textarea, 
img, span, fieldset, legend, ul, li {
	margin: 0;
	padding: 0;
}

.clear {
  clear:both;
}

.italic {
  font-style:italic;
  color:#1d556a;
  font-size:11px;
}

img {
	border: 0;
}

a {
  color:#444;
}

a:hover {
  color:#444;
  text-decoration:none;
}

#logo {
  width:1000px;
  margin:0 auto;
  text-align:left;
  padding:20px 0 0 0;
}

#wrapper {
  width:1000px;
  margin:0 auto;
  margin-top:20px;
  color:#555;
  -webkit-border-radius: 5px 5px 5px 5px;
  -khtml-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
   border-radius: 5px 5px 5px 5px;
}

#wrapper #left {
  float:left;
  width:30%;
  background:#F0F0F0;
  border:1px solid #CFCFCF;
  -webkit-border-radius: 5px 5px 5px 5px;
  -khtml-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
   border-radius: 5px 5px 5px 5px;
}

#wrapper #left h1 {
  font-size:28px;
  color:#1d556a;
  text-align:center;
  padding:20px 0 10px 0;
}

#wrapper #left h1 span {
  display:block;
  margin:10px;
}

#wrapper #left .progress {
  background:#F0F0F0;
  width:95%;
  margin:0 auto;
  border:1px solid #cfcfcf;
}

#wrapper #left .progress span {
  display:block;
  height:41px;
  background:#fff;
  width:50%;
}

#wrapper #left .percent {
  padding:10px 10px 30px 10px;
  color:#1d556a;
  text-align:center;
  font-size:16px;
}

#wrapper #right {
  float:right;
  width:69%;
  background:#fafafa;
  border:1px solid #cfcfcf;
  -webkit-border-radius: 5px 5px 5px 5px;
  -khtml-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
   border-radius: 5px 5px 5px 5px;
}

#wrapper #right p {
  padding:10px;
}

#wrapper #right p .head {
  display:block;
  margin:15px 0 15px 0;
  background:#F0F0F0 url(templates/images/field.png) no-repeat 1% 50%;
  padding:8px 8px 8px 25px;
  font-weight:bold;
  color:#1d556a;
  border:1px solid #E5E5E5;
  border-bottom:3px solid #E5E5E5;
  text-transform:uppercase;
  -webkit-border-radius: 5px 5px 0 0;
  -khtml-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
   border-radius: 5px 5px 0 0;
}

#wrapper #right p .info {
  display:block;
  border-bottom:1px dashed #cfcfcf;
  margin:0 0 10px 0;
  padding:0 2px 10px 2px;
}

#wrapper #right p .info .right {
  display:block;
  float:right;
  font-weight:bold;
  color:#1d556a;
}

#wrapper #right .nav {
 text-align:right;
 margin:20px 0 20px 0;
 padding:0 15px 10px 15px;
}

#wrapper #right .nav span {
  float:left;
}

#wrapper .warning_msg {
  background:#D8D8BF;
  margin:0 auto;
  width:95%;
  margin-bottom:30px;
  -webkit-border-radius: 2px 2px 2px 2px;
  -khtml-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
   border-radius: 2px 2px 2px 2px;
   border:1px solid #CDCDB4;
   color:#555;
}

#wrapper #right_error {
  float:right;
  width:69%;
  background:#fff;
  border:2px solid #ff0000;
  color:#555;
  -webkit-border-radius: 5px 5px 5px 5px;
  -khtml-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
   border-radius: 5px 5px 5px 5px;
}

#wrapper #right_error p {
  padding:10px;
}

.buttons {
  text-align:center;
  padding:10px 0 10px 0;
}

.button_next {
  font: normal 13px verdana,sans-serif;
	color: #555;
	background:#F0F0F0;
	border: 2px solid #20b8be;
	padding:3px;
	text-transform:uppercase;
  width:70px;
}

.button_upgrade {
  font: normal 13px verdana,sans-serif;
	color: #555;
	background:#F0F0F0;
	border: 2px solid #20b8be;
	padding:3px;
	text-transform:uppercase;
  width:90px;
}

.button_next_update {
  font: normal 13px verdana,sans-serif;
	color: #555;
	background:#F0F0F0;
	border: 2px solid #20b8be;
	padding:3px;
	text-transform:uppercase;
  width:170px;
}

.button_next_tables {
  font: normal 13px verdana,sans-serif;
	color: #555;
	background:#F0F0F0;
	border: 2px solid #20b8be;
	padding:3px;
	text-transform:uppercase;
  width:150px;
}

.button_complete {
  font: normal 13px verdana,sans-serif;
	color: #555;
	background:#F0F0F0;
	border: 2px solid #20b8be;
	padding:3px;
	text-transform:uppercase;
  width:170px;
}

.button_view_store {
  font: normal 13px verdana,sans-serif;
	color: #555;
	background:#F0F0F0;
	border: 2px solid #20b8be;
	padding:3px;
	text-transform:uppercase;
  width:120px;
}

.button_view_admin {
  font: normal 13px verdana,sans-serif;
	color: #555;
	background:#F0F0F0;
	border: 2px solid #20b8be;
	padding:3px;
	text-transform:uppercase;
  width:200px;
}

.button_prev {
  font: normal 13px verdana,sans-serif;
	color: #555;
	background:#F0F0F0;
	border: 2px solid #CFCFCF;
	padding:3px;
	text-transform:uppercase;
  width:70px;
}

.button_con_test {
  font: normal 13px verdana,sans-serif;
	color: #555;
	background:#F0F0F0;
	border: 2px solid #CFCFCF;
	padding:3px;
	text-transform:uppercase;
  width:150px;
}

.footer {
  width:1000px;
  margin:0 auto;
  text-align:right;
  font-size:11px;
  padding:10px 10px 20px 0;
}

select {
  padding:3px;
  border:1px solid #d6d6d6;
}

.box {
  padding: 5px;
	border: 1px solid #e4e4e4;
	border-left: 3px solid #e4e4e4;
	width: 50%;
  color:#0E644E;
	font: 13px arial, sans-serif;
}

.errorbox {
  padding: 5px;
  background:#FF6666;
	border: 1px solid #555;
	border-left: 3px solid #555;
	width: 50%;
  color:#fff;
	font: 13px arial, sans-serif;
}
