/*
  Script: Maian Cart v2.0
  Programmed & Designed by: David Ian Bennett
  E-Mail: support@maianscriptworld.co.uk
  Software Website: http://www.maiancart.com
  Script Portal: http://www.maianscriptworld.co.uk
  
  Store Stylesheet - IE6 Adjustments
  
  Support dropped for IE6, but this file may fix earlier issues
*/

body {
  margin-top:0;
}

.leftMenu .menuBox .middle li {
  text-indent:0px;
  height:17px;
}
.leftMenu .menuBox .middle {
  height:100%;
}
.leftMenu .menuBox .middle li a {
  height:17px;
  text-indent:5px;
}
.leftMenu .menuBox .middle .subcats li a {
  text-indent:10px;
}
.leftMenu .menuBox .middle li .subcats li {
  padding-left:0;
  text-indent:5px;
}
.contentBody .relatedCategories li {
}
#quantity p select {
  vertical-align:bottom;
}

.leftMenu .middle .menuArea .children {
  width:212px;
}
.productInfo .displayImg {
  width:180px;
}
.viewProduct .productInfo .right {
  width:63%;
}
.viewProduct .productInfo .left {
  width:28%;
}
#footerBar .innerFooterBar {
}
.innerFooterBar {
  width:950px;
}
#footerBar .left {
  width:290px;
}
#footerBar .middle {
  width:270px;
}
#footerBar .right {
  width:290px;
}
#ticker-controls li {
	margin-left: 2px;
}
