        <span class="wrapLinks">
          <span class="del"><a class="delLink" href="#" title="{delete}: {product_alt}" onclick="removeBasketItem('{type}-{id}-{code}');return false"><img src="templates/images/basket-del-product.png" alt="{delete}: {product}" title="{delete}: {product}" /></a></span>
          <span class="prod">
           <a class="product_link" href="{product_url}" title="{product_alt}">{product}</a>
           {attributes}
          </span>
          <br class="clear" />
         </span>
        <span class="qty_price">{qty} x {price}</span>
        <hr />
