                <script type="text/javascript">
                //<![CDATA[
                $(document).ready(function(){
                  $('#personalisation_{id}').jqEasyCounter({
			             maxChars: {max},
			             maxCharsWarning: {max}-2,
                   msgFontSize: '11px',
                   msgFontColor: '#444444',
                   msgFontFamily: 'Arial',
                   msgTextAlign: 'right',
                   msgWarningColor: '#FF0000',
                   msgAppendMethod: 'insertAfter',
                   limitText: '{char_text}',
                   counterColor: '#6e5289'
		              });
                });
                //]]>
                </script>

