      <div class="productDownloadWrapper">
        <div class="downloadName">
         <span class="span">{product}</span>
         <span class="filesize">- {estimated_file_size}: <b>{filesize}</b>&nbsp;&nbsp;&nbsp;[ <span class="filetype">{filetype}</span> ]</span>
        </div>
        <div class="downloadLink">
         <a href="{url}"><img src="templates/images/download.gif" alt="{text}" title="{text}" /></a>
         <span>{click_to_download}</span>
        </div>
        <br class="clear" />
      </div>
