/*
  Script: Maian Cart v2.0
  Programmed & Designed by: David Ian Bennett
  E-Mail: support@maianscriptworld.co.uk
  Software Website: http://www.maiancart.com
  Script Portal: http://www.maianscriptworld.co.uk
  
  Docs Stylesheet
*/

body {
  background:#e2e2e2;
  padding:0;
  margin:0;
  font: normal 12px verdana,sans-serif;
}

.highlight {
  color:#555;
}

.italics {
  font-style:italic;
  color:#1d556a;
}

.marker {
  font-size:15px;
  color:red;
  background:url(images/marker.png) no-repeat left center;
  padding:0 0 0 20px;
}

.normal {
  font-weight:normal;
}

b {
  color:#1d556a;
}

.clear {
  clear: both;
}

.box {
  padding: 3px;
	width:50%;
  border:1px solid #d6d6d6;
  font: 12px arial, sans-serif;
  background:#fff;
}

.textarea {
  padding: 3px;
	width:50%;
  border:1px solid #d6d6d6;
  font: 12px arial, sans-serif;
  background:#fff;
}

.gateimg {
  border:2px solid #e5e5e5;
  background:#fff;
  padding:5px;
}

.help_img {
  vertical-align:bottom;
}

.highblock {
  border:2px solid #cfcfcf;
  color:#555;
  display:block;
  background:#fafafa;
  padding:5px;
  font-size:11px;
  font-weight:bold;
  text-transform:uppercase;
  -webkit-border-radius: 2px 2px 2px 2px;
  -khtml-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
   border-radius: 2px 2px 2px 2px;
}

div, h1, h2, h3, h4, p, form, label, input, textarea, img, span {
  margin:0;
  padding:0;
}

a {
  color:#555;
}

a b {
  color:#555;
}

.toolTip {
  font-size:11px;
  color:#555;
}

a:hover {
  color:#a9433e;
  text-decoration:none;
}

td {
  vertical-align: top;
  text-align: left;
}

img {
  border:0;
}

#topwrapper {
  margin-bottom:5px;
  border-top:0;
  color:#555;
}

#header {
  color:#135E4B;
  background:#F0F0F0;
  height:100%;
  clear:both;
  border-bottom:2px solid #CFCFCF;
  border-top:0;
  padding:5px;
}

#header .left {
  float:left;
  width:35%;
}

#header .left .doclinks a {
  margin:0 10px 0 0;
}

#header .left .doclinks a img {
  vertical-align:bottom;
}

#header .right {
  float:right;
  width:55%;
}

#header .right .home {
  background:url(images/home.png) no-repeat left center;
  padding:1px 0 2px 20px;
  margin-right:20px;
}

#header .right .free {
  background:url(images/free.png) no-repeat left center;
  padding:1px 0 2px 20px;
  margin-right:20px;
}

#header .right .bug {
  background:url(images/bugs.png) no-repeat left center;
  padding:1px 0 2px 20px;
  margin-right:20px;
}

#header .right .support {
  background:url(images/support.png) no-repeat left center;
  padding:1px 0 2px 20px;
}

#header .left p {
  padding:5px;
}

#header .right p {
  padding:5px;
  text-align:right;
}

#header a {
  color:#135E4B;
  text-transform:uppercase;
  font-size:11px;
}

#logo {
  text-align: left;
  height:100%;
  clear:both;
  width:1000px;
  margin:0 auto;
  margin-top:10px;
}

#logo .left {
  float:left;
  width:60%;
}

#logo .right {
  float:right;
  width:33%;
}

#logo .left p {
  padding:5px;
}

#logo .right p {
  padding:15px 10px 15px 10px;
  background:#e8e8e8;
  margin:5px 0 0 0;
  -webkit-border-radius: 5px 5px 5px 5px;
  -khtml-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
   border-radius: 5px 5px 5px 5px;
  font-size:13px;
  border:1px solid #cfcfcf; 
}

#wrapper {
  width:1000px;
  margin:0 auto;
  margin-top:10px;
  color:#555;
  -webkit-border-radius: 5px 5px 5px 5px;
  -khtml-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
   border-radius: 5px 5px 5px 5px;
}

#pages {
  margin-top:20px;
  text-align:center;
  font-size:10px;
}

#pages a {
  font-size:10px;
}

#pages a:hover {
}

#content {
  padding:10px;
  text-align:left;
  line-height:18px;
  min-height:350px;
  background:#fafafa;
  margin:5px 0 0 0;
  border:2px solid #CFCFCF;
  -webkit-border-radius: 5px 5px 5px 5px;
  -khtml-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

#content .offer {
  height:100%;
  border:1px solid #e5e5e5;
  background:#fff;
  padding:5px;
  margin:0 0 3px 0;
}

#content .offer .name {
  float:left;
  width:60%;
}

#content .offer .prices {
  float:left;
  width:25%;
  font-size:13px;
}

#content .offer .del {
  float:right;
  font-weight:bold;
  width:10%;
}

#content .fieldHeadWrapper,#windowWrapper .fieldHeadWrapper {
  border:1px solid #E5E5E5;
  border-bottom:3px solid #E5E5E5;
  clear:both;
  margin-bottom:5px;
  -webkit-border-radius: 5px 5px 0 0;
  -khtml-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
   border-radius: 5px 5px 0 0;
}

#content .fieldHeadWrapper .float,#windowWrapper .fieldHeadWrapper .float {
  float:right;
  font-weight: normal;
}

#content .fieldHeadWrapper .float a {
  color:#555;
}

#content .fieldHeadWrapper p,#windowWrapper .fieldHeadWrapper p {
  padding:8px 5px 8px 25px;
  color:#1D556A;
  background:#F0F0F0 url(images/field.png) no-repeat 1% 50%;
  text-transform:uppercase;
  font-size:12px;
  font-weight:bold; 
  -webkit-border-radius: 5px 5px 0 0;
  -khtml-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
   border-radius: 5px 5px 0 0;
}

#content .fieldHeadWrapper_sec {
  clear:both;
  margin-bottom:5px;
  font-weight: bold;
  height:100%;
}

#content .fieldHeadWrapper_sec .sec {
  padding:8px 5px 8px 5px;
  color:#fff;
  background:#1C876D;
  text-transform:uppercase;
  -webkit-border-radius: 5px 5px 0 0;
  -khtml-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
   border-radius: 5px 5px 0 0;
}

#content .home {
  height: 100%;
}

#content .home .left {
  float: left;
  width: 69%;
}

#content .home .right {
  float: right;
  width: 30%;
}

.blockWrapper {
  border:1px solid #e5e5e5;
  margin:0 0 5px 0;
}

.blockWrapper_sec {
  border:1px solid #1C876D;
  margin:0 0 5px 0;
}

.blockWrapper .infoBlock {
  display:block;
  border:2px solid #e5e5e5;
  background:#fafafa;
  margin:10px 0 10px 0;
  list-style:none;
  -webkit-border-radius: 5px 5px 5px 5px;
  -khtml-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
   border-radius: 5px 5px 5px 5px;
}

.blockWrapper .li {
  padding:10px;
  display:block;
}

.blockWrapper p {
  padding:10px;
  background:#fff;
}

.blockWrapper_sec .sec {
  padding:10px;
  background:#fff;
  color:#ff0000;
  text-transform:uppercase;
}

#footer {
  background:#fff;
  color:#444;
  font-size:11px;
  text-align:center;
  margin:5px 0 0 0;
  border:2px solid #cfcfcf;
  -webkit-border-radius: 5px 5px 5px 5px;
  -khtml-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

#footer p {
  padding:20px 10px 20px 10px;
}

#footer a {
  color:#333;
}

#footer a:hover {
  text-decoration: none;
  color:#333;
}
