      <div class="couponWrapper" id="couponWrapper"{show_for_no_shipping}>
        
        <h2 class="title">
          <span>{text} - {text2}</span>
        </h2>  
        
        <div class="coupon">
         
         <span class="ecode" id="ecode">
           {text3}: <input type="text" class="box" name="code" id="coupon_code" value="" /> <input onclick="addDiscountCoupon()" type="button" class="button" value="{text4}" title="{text4}" />
         </span>
         
         <span class="couponimage" id="couponimage">
           <img src="templates/images/{image}" id="gimage" alt="" title="" />
         </span>
         
         <span class="couponprice" id="couponprice">
           {price}
           {remove_link}
         </span>
         
         <br class="clear" />
         
         <p class="systemMessage" id="sysMsg">
           <!-- DO NOT remove this empty paragraph tag -->
         </p>
         
        </div>
        
        <p class="bottom"></p>
      </div>
