{* admin login/pass : template *}

<p>
{if $configuration_saved eq 1}
{$smarty.const.ADMIN_UPDATE_SUCCESSFUL}
{else}

{if $error ne NULL}
<p><font color="red"><b>{$error}</b></font>
{/if}

<form action="admin.php" method=post>

 <input type=hidden name=dpt value="conf">
 <input type=hidden name=sub value="login_pass">
 <input type=hidden name=save_login_pass value=1>

 <table cellpadding=4>

	<tr>
	<td colspan=2 class="mainmenu_selected_{$current_dpt}">
	<b>{$smarty.const.ADMIN_CHANGE_LOGINPASSWORD}</b>
	</td>
	</tr>

	<tr>
	<td align=right>{$smarty.const.ADMIN_CURRENT_LOGIN}:</td>
	<td><input type=text name=new_login value="{$curr_log}"></td>
	</tr>

	<tr>
	<td align=right>{$smarty.const.ADMIN_OLD_PASS}:</td>
	<td><input type=password name=old_pass value=""></td>
	</tr>

	<tr>
	<td align=right>{$smarty.const.ADMIN_NEW_PASS}:</td>
	<td><input type=password name=new_pass value=""></td>
	</tr>

	<tr>
	<td align=right>{$smarty.const.ADMIN_NEW_PASS_CONFIRM}:</td>
	<td><input type=password name=new_passconfirm value=""></td>
	</tr>

 </table>

 <input type=submit value="{$smarty.const.SAVE_BUTTON}">

</form>

{/if}