1
{
	font-family:Verdana;
    font-size:20px;
	color:#006699;
	font-weight:bold;
	text-align:center;
	
}
2
{
	font-family:Verdana;
    font-size:16px;
	color: #0090d8;
	font-weight:bold;
	text-align:justify;
}
3
{
	font-family:Verdana;
    font-size:12px;
	color: #00e4ff;
	font-weight:bold;
	text-align:justify;
}
4
{
	font-family:Verdana;
    font-size:14px;
	color:#00346e;
	font-weight:bold;
	text-align:justify;
}