l{
	font-family:Verdana;
	font-size:8px;
	color:#909090;
	font-weight:normal;
	text-align:left;
}

m
{
	font-family:Verdana;
	font-size:12px;
	color:#dddddd;
	font-weight:normal;
	text-align:left;
}

h
{
	font-family:Verdana;
	font-size:16px;
	color:#ff9900;
	font-weight:bold;
	text-align:left;
}
