<html>

{include file="head.tpl.html"}

<body marginwidth="0" marginheight="0" leftmargin="0" topmargin="0" bgcolor="black">




<table width="100%" border="0" cellspacing="0" cellpadding="0">
 <tr>
    <td bgcolor="black"><table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr style="background: url(images/abc.png) repeat-x; height:180px;">
    <td valign="middle" width="10%">
		<a href="http://localhost/my bookstore/sc/"><img src="images/bookstore.png" border="0" alt="{$smarty.const.CONF_SHOP_NAME}" hspace="100px"></a>
	</td>
	<td valign="middle" width="90%" align="right">
				<table id="tabnav" border="0" cellspacing="10px" cellpadding="0">
					<tr valign="middle" align="right"> 
				
					  <td><a href="http://localhost/my bookstore/sc/book/index.html" class="menu">Home</a></div></td>
					  <td>&nbsp;</td>
					  <td><a href="http://localhost/my bookstore/sc/book/portfolio.html" class="menu">Gallery</a></div></td>
					  <td>&nbsp;</td>
					  <td><a href="http://localhost/my bookstore/sc/book/blog_post.html" class="menu">Discussion</a></div></td>
					  <td>&nbsp;</td>
					  <td><a href="http://localhost/my bookstore/sc/book/forms/contact/Contact Us.php" class="menu">Contact Us</a></div></td>
					   <td><a href="http://localhost/my bookstore/sc/book/login.php" class="menu">Register/Login</a></div></td>
					  <td>&nbsp;</td>
					   <td><a href="http://localhost/my bookstore/sc/" class="menu">Shopping</a></div></td>
					  <td>&nbsp;</td>
					</tr>
				</table>
	</td>
    <td valign="top" align="right" >

				  {include file="language.tpl.html"}

                  {include file="search_form.tpl.html"}
                  <a href="index.php?search_with_change_category_ability=yes" class="lightsmall"></a>
	</td>
  </tr>

  <tr> 
    <td width="220" valign="top" align="left">
	 <table cellspacing="0" cellpadding="0" border="0"><tr><td >

		<p style="padding:10px;">
        
		<table width="200" border="0" align="left" cellpadding="0" cellspacing="0" hspace="30px">
		  {if $smarty.const.CONF_SHOW_ADD2CART eq 1}
          <tr> 
            <td align="left" valign="top" bgcolor="yellow" class="topcorners">
				<div style="padding:5px;font-size:130%;">
					<a href="index.php?shopping_cart=yes" class="menu">{$smarty.const.CART_TITLE}</a>
				</div>
			</td>
		  </tr>
		  <tr>  
            <td style="background: #E5B4C3; background-position: right; padding: 10px;" class="bottomcorners"> 
                            {include file="shopping_cart_info.tpl.html"}
            </td>
          </tr>
		  <tr>
			<td>&nbsp;</td>
		  </tr>
		  {/if}
          <tr> 
            <td align="left" valign="top" bgcolor="#352060" class="topcorners">
				<div style="padding:5px;font-size:130%;">
					<a href="index.php#catalog" class="menu">{$smarty.const.ADMIN_CATALOG}</a>
				</div>
			</td>
          </tr>
          <tr> 
                  <td align="left" valign="top" style="background: #C3B4E5; background-position: right; padding: 10px;" class="bottomcorners"> 
                          {include file="category_tree.tpl.html"}
                  </td>
          </tr>

		

         

		
        </table>
		</p>

		</td></tr>
		
		</table>
      </td>
      <td width="100%" align="left" valign="top" style="padding:10px;" colspan="2">

            {include file="$main_content_template"}
       
	  </td>
  </tr>
  <tr>
	<td>&nbsp;</td>
	<td colspan="2" align="center">

				<hr width="300" align="center" size="1" style="margin-top:0px;">

				
				 
				  
					

	</td>
  </tr>
  </table></td>
 </tr>
</table>

<!--
	following javascript code creates rounded corners for top menu, shopping cart and categories section
	using Nifty library (http://www.html.it/articoli/niftycube/index.html)

<script type="text/javascript">
{literal}
	if ( ! (navigator.userAgent.indexOf('Opera') != -1) )
	{
		Nifty("div.topmenu_notselected,div.topmenu_selected","top transparent");

		Nifty("td.topcorners","tl transparent");
		var tt_layers= getElementsBySelector("td.topcorners");
		for(var k=0, len=tt_layers.length; k<len; k++)
		{
			tt_layers[k].parentNode.style.backgroundColor = "#e0e7ff";
		}
		Nifty("td.topcorners","tr transparent");
		
		Nifty("td.bottomcorners","bl transparent");
		var tt_layers= getElementsBySelector("td.bottomcorners");
		for(var k=0, len=tt_layers.length; k<len; k++)
		{
			tt_layers[k].parentNode.style.backgroundColor = "#e0e7ff";
		}
		Nifty("td.bottomcorners","br transparent");
	}
{/literal}
</script>

	end of Nifty code
-->

</body>
</html>